:root {
	--container-width: 1200px;
	--container-padding: 15px;

	--font-main: "Roboto";
	--font-accent: "bebasneue";
	--font-titles: var(--font-accent);

	--page-bg: #1f2a32;
	--text-color: #fafaf5;
	--accent: #ffd479;
	--link-color: #ffffff;

	--laptop-size: 1024px;
	--tablet-size: 959px;
	--mobile-size: 599px;
}

.dark {
	--page-bg: #252526;
	--text-color: #fff;
}
